@model Emart.Models.Eshopper

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/css/app.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard/")app-assets/css/core/menu/menu-types/vertical-menu.css">
    @* eshopper *@

    <link href="@Url.Content("~/Content/eshopper/")css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/prettyPhoto.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/price-range.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/animate.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/main.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/eshopper/")css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    @* cp *@
  @* colour picker *@
    <link rel="stylesheet" type="text/css" href="~/scripts/jquery-ui.css" media="all" />
    <link rel="stylesheet" href="~/Content/farbtastic.css" type="text/css" />
    <style type="text/css">
        #red .ui-slider-range, #red .ui-slider-handle {
            background: #ef2929;
        }

        #green .ui-slider-range, #green .ui-slider-handle {
            background: #8ae234;
        }

        #blue .ui-slider-range, #blue .ui-slider-handle {
            background: #729fcf;
        }

        #swatch {
            width: 180px;
            height: 180px;
            background-image: none;
            float: right;
            margin: 6px 20px 0px 0px;
            border: none;
            background-color: black;
        }

        #sliders {
            width: 500px;
        }

        #colorpicker {
            float: left;
            margin: 0px 0px 0px 20px;
        }

        #red, #green, #blue {
            margin: 10px 0px 0px 0px;
        }

        #innerswatch {
            font: bold 24px arial;
            margin: 75px 0px 0px 0px;
            text-align: center;
            color: white;
        }
    </style>
    </head>
   
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">

    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
                    <li class="nav-item"><a href="index.html" class="navbar-brand nav-link"><img alt="branding logo" src="../../app-assets/images/logo/robust-logo-light.png" data-expand="../../app-assets/images/logo/robust-logo-light.png" data-collapse="../../app-assets/images/logo/robust-logo-small.png" class="brand-logo"></a></li>
                    <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5">         </i></a></li>
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
@using (Html.BeginForm("customizeeshopper", "shop",FormMethod.Post))
{
   @Html.AntiForgeryToken()
    <input type="hidden"  name="VendorId" value="@Model.VendorId" />
    
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">    
            <div class="main-menu-header">
                <!-- <input type="text" placeholder="Search" class="menu-search form-control round"/> -->
                <BUTTON onclick="preview()" type="button" align="middle" class="btn btn-success btn-lg btn-block">Preview</BUTTON>
            </div>
            <!-- / main menu header-->
            <!-- main menu content-->
        <div class="main-menu-content">
             
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class=" nav-item">        
                    <a href="#"><i class="icon-home3"></i><span data-i18n="nav.menu_levels.main" class="menu-title">Slider</span><span class="tag tag tag-primary tag-pill float-xs-right mr-2">3</span></a>
                    
                    <ul class="menu-content">
                            <li>
                                
                                <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item" >Slider1</a>
                                <ul class="menu-content">
                                    <li>
                                        <input type="text" value="@Model.slider1_Text1" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider1_Text1_Input" placeholder="1st Text" /> 
                                        <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup"/>
                                        <div class="window-popup">
                                            <div class="wp-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" id="button-popup-close">&times;</button>
                                                    <h4>Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @{Html.RenderAction("CreatePartial", "Shop");}
                                                    <input type="hidden" id="Slider1_Text1_Color_Hidden" name="slider1_Text1_color" value=""/>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" href="#" id="button-popup-close1">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="Slider1_Text1_Hidden" name="slider1_Text1" value="" /><br />
                                        <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider1_Text2_Input" placeholder="2nd Text" />
                                        <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup1" />
                                        
                                        <div class="window-popup1">
                                            <div class="wp-content1">
                                                <div class="modal-header">
                                                    <button type="button" class="close" id="button-popup-close2">&times;</button>
                                                    <h4>Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @{Html.RenderAction("CreatePartial1", "Shop");}
                                                    <input type="hidden" id="Slider1_Text2_Color_Hidden" name="slider1_Text2_color" value="" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" href="#" id="button-popup-close3">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="Slider1_Text2_Hidden" name="slider1_Text2" value="" /><br />
                                        <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider1_Text3_Input" placeholder="3rd Text" />
                                        <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup2" />
                                        <div class="window-popup2">
                                            <div class="wp-content2">
                                                <div class="modal-header">
                                                    <button type="button" class="close" id="button-popup-close4">&times;</button>
                                                    <h4>Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @{Html.RenderAction("CreatePartial2", "Shop");}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" href="#" id="button-popup-close5">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="Slider1_Text3_Hidden" name="slider1_Text3" value="" /><br /><br /><br />
                                    </li>
                                    
                                    
                                </ul>
                            </li>
                          <li>
                              <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item">Slider2</a>
                              <ul class="menu-content">
                                  <li>
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider2_Text1_Input" placeholder="1st Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup3" />
                                      <div class="window-popup3">
                                          <div class="wp-content3">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close6">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial3", "Shop");}

                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close7">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider2_Text1_Hidden" name="slider2_Text1" value="" /><br />
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider2_Text2_Input" placeholder="2nd Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup4" />
                                      <div class="window-popup4">
                                          <div class="wp-content4">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close8">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial4", "Shop");}
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close9">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider2_Text2_Hidden" name="slider2_Text2" value="" /><br />
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider2_Text3_Input" placeholder="3rd Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup5" />
                                      <div class="window-popup5">
                                          <div class="wp-content5">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close10">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial5", "Shop");}
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close11">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider2_Text3_Hidden" name="slider2_Text3" value="" /><br /><br /><br />
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item">Slider3</a>
                              <ul class="menu-content">
                                  <li>
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider3_Text1_Input" placeholder="1st Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup6" />
                                      <div class="window-popup6">
                                          <div class="wp-content6">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close12">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial6", "Shop");}
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close13">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider3_Text1_Hidden" name="slider3_Text1" value="" /><br />
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider3_Text2_Input" placeholder="2nd Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup7" />
                                      <div class="window-popup7">
                                          <div class="wp-content7">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close14">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial7", "Shop");}
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close15">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider3_Text2_Hidden" name="slider3_Text2" value="" /><br />
                                      <input type="text" style="width:75%; float:left;" class="form-control" data-i18n="nav.menu_levels.second_level_child.third_level" id="Slider3_Text3_Input" placeholder="3rd Text" />
                                      <input type="button" class="btn" value="Color" style="float: right; background-color:blue; color:white;" id="button-popup8" />
                                      <div class="window-popup8">
                                          <div class="wp-content8">
                                              <div class="modal-header">
                                                  <button type="button" class="close" id="button-popup-close16">&times;</button>
                                                  <h4>Modal title</h4>
                                              </div>
                                              <div class="modal-body">
                                                  @{Html.RenderAction("CreatePartial8", "Shop");}
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" href="#" id="button-popup-close17">Close</button>
                                              </div>
                                          </div>
                                      </div>
                                      <input type="hidden" id="Slider3_Text3_Hidden" name="slider3_Text3" value="" /><br /><br /><br />
                                  </li>
                              </ul>
                          </li>
                            <li>
                                <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item">Second level child</a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level" class="menu-item">Third level</a>
                                    </li>
                                    <li>
                                        <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.main" class="menu-item">Third level child</a>
                                        <ul class="menu-content">
                                            <li>
                                                <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level1" class="menu-item">Fourth level</a>
                                            </li>
                                            <li>
                                                <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level2" class="menu-item">Fourth level</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>





                    @* d *@
                   
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-stack-2"></i><span data-i18n="nav.page_layouts.main" class="menu-title">Page layouts</span></a>
                    <ul class="menu-content">

                        <li>
                            <a href="layout-1-column.html" data-i18n="nav.page_layouts.1_column" class="menu-item">1 column</a>
                        </li>
                        <li>
                            <a href="layout-2-columns.html" data-i18n="nav.page_layouts.2_columns" class="menu-item">2 columns</a>
                        </li>
                        <li>
                            <a href="layout-boxed.html" data-i18n="nav.page_layouts.boxed_layout" class="menu-item">Boxed layout</a>
                        </li>
                        <li>
                            <a href="layout-static.html" data-i18n="nav.page_layouts.static_layout" class="menu-item">Static layout</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a href="layout-light.html" data-i18n="nav.page_layouts.light_layout" class="menu-item">Light layout</a>
                        </li>
                        <li>
                            <a href="layout-dark.html" data-i18n="nav.page_layouts.dark_layout" class="menu-item">Dark layout</a>
                        </li>
                        <li>
                            <a href="layout-semi-dark.html" data-i18n="nav.page_layouts.semi_dark_layout" class="menu-item">Semi dark layout</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Pages</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="invoice-template.html" data-i18n="nav.invoice.invoice_template" class="menu-item">Invoice Template</a>
                        </li>
                        <li>
                            <a href="gallery-grid.html" data-i18n="nav.gallery_pages.gallery_grid" class="menu-item">Gallery Grid</a>
                        </li>
                        <li>
                            <a href="search-page.html" data-i18n="nav.search_pages.search_page" class="menu-item">Search Page</a>
                        </li>
                        <li>
                            <a href="search-website.html" data-i18n="nav.search_pages.search_website" class="menu-item">Search Website</a>
                        </li>
                        <li>
                            <a href="login-simple.html" data-i18n="nav.login_register_pages.login_simple" class="menu-item">Login Simple</a>
                        </li>
                        <li>
                            <a href="register-simple.html" data-i18n="nav.login_register_pages.register_simple" class="menu-item">Register Simple</a>
                        </li>
                        <li>
                            <a href="unlock-user.html" data-i18n="nav.login_register_pages.unlock_user" class="menu-item">Unlock User</a>
                        </li>
                        <li>
                            <a href="recover-password.html" data-i18n="nav.login_register_pages.recover_password" class="menu-item">Recover Password</a>
                        </li>
                        <li>
                            <a href="#" data-i18n="nav.error_pages.main" class="menu-item">Error</a>
                            <ul class="menu-content">
                                <li>
                                    <a href="error-400.html" data-i18n="nav.error_pages.error_400" class="menu-item">Error 400</a>
                                </li>
                                <li>
                                    <a href="error-401.html" data-i18n="nav.error_pages.error_401" class="menu-item">Error 401</a>
                                </li>
                                <li>
                                    <a href="error-403.html" data-i18n="nav.error_pages.error_403" class="menu-item">Error 403</a>
                                </li>
                                <li>
                                    <a href="error-404.html" data-i18n="nav.error_pages.error_404" class="menu-item">Error 404</a>
                                </li>
                                <li>
                                    <a href="error-500.html" data-i18n="nav.error_pages.error_500" class="menu-item">Error 500</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="coming-soon-flat.html" data-i18n="nav.other_pages.coming_soon.coming_soon_flat" class="menu-item">Coming Soon</a>
                        </li>
                        <li>
                            <a href="under-maintenance.html" data-i18n="nav.other_pages.under_maintenance" class="menu-item">Maintenance</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-ios-albums-outline"></i><span data-i18n="nav.cards.main" class="menu-title">Cards</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="card-bootstrap.html" data-i18n="nav.cards.card_bootstrap" class="menu-item">Bootstrap Cards</a>
                        </li>
                        <li>
                            <a href="card-actions.html" data-i18n="nav.cards.card_actions" class="menu-item">Card Action</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-whatshot"></i><span data-i18n="nav.advance_cards.main" class="menu-title">Advance Cards</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="card-statistics.html" data-i18n="nav.cards.card_statistics" class="menu-item">Statistics</a>
                        </li>
                        <li>
                            <a href="card-charts.html" data-i18n="nav.cards.card_charts" class="menu-item">Charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-compass3"></i><span data-i18n="nav.content.main" class="menu-title">Content</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="content-grid.html" data-i18n="nav.content.content_grid" class="menu-item">Grid</a>
                        </li>
                        <li>
                            <a href="content-typography.html" data-i18n="nav.content.content_typography" class="menu-item">Typography</a>
                        </li>
                        <li>
                            <a href="content-text-utilities.html" data-i18n="nav.content.content_text_utilities" class="menu-item">Text utilities</a>
                        </li>
                        <li>
                            <a href="content-helper-classes.html" data-i18n="nav.content.content_helper_classes" class="menu-item">Helper classes</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-grid2"></i><span data-i18n="nav.components.main" class="menu-title">Components</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="component-alerts.html" data-i18n="nav.components.component_alerts" class="menu-item">Alerts</a>
                        </li>
                        <li>
                            <a href="component-buttons-basic.html" data-i18n="nav.components.components_buttons.component_buttons_basic" class="menu-item">Basic Buttons</a>
                        </li>
                        <li>
                            <a href="component-carousel.html" data-i18n="nav.components.component_carousel" class="menu-item">Carousel</a>
                        </li>
                        <li>
                            <a href="component-collapse.html" data-i18n="nav.components.component_collapse" class="menu-item">Collapse</a>
                        </li>
                        <li>
                            <a href="component-dropdowns.html" data-i18n="nav.components.component_dropdowns" class="menu-item">Dropdowns</a>
                        </li>
                        <li>
                            <a href="component-list-group.html" data-i18n="nav.components.component_list_group" class="menu-item">List Group</a>
                        </li>
                        <li>
                            <a href="component-modals.html" data-i18n="nav.components.component_modals" class="menu-item">Modals</a>
                        </li>
                        <li>
                            <a href="component-pagination.html" data-i18n="nav.components.component_pagination" class="menu-item">Pagination</a>
                        </li>
                        <li>
                            <a href="component-navs-component.html" data-i18n="nav.components.component_navs_component" class="menu-item">Navs Component</a>
                        </li>
                        <li>
                            <a href="component-tabs-component.html" data-i18n="nav.components.component_tabs_component" class="menu-item">Tabs Component</a>
                        </li>
                        <li>
                            <a href="component-pills-component.html" data-i18n="nav.components.component_pills_component" class="menu-item">Pills Component</a>
                        </li>
                        <li>
                            <a href="component-tooltips.html" data-i18n="nav.components.component_tooltips" class="menu-item">Tooltips</a>
                        </li>
                        <li>
                            <a href="component-popovers.html" data-i18n="nav.components.component_popovers" class="menu-item">Popovers</a>
                        </li>
                        <li>
                            <a href="component-tags.html" data-i18n="nav.components.component_tags" class="menu-item">Tags</a>
                        </li>
                        <li>
                            <a href="component-pill-tags.html" class="menu-item">Pill Tags</a>
                        </li>
                        <li>
                            <a href="component-progress.html" data-i18n="nav.components.component_progress" class="menu-item">Progress</a>
                        </li>
                        <li>
                            <a href="component-media-objects.html" data-i18n="nav.components.component_media_objects" class="menu-item">Media Objects</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-eye6"></i><span data-i18n="nav.icons.main" class="menu-title">Icons</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="icons-feather.html" data-i18n="nav.icons.icons_feather" class="menu-item">Feather</a>
                        </li>
                        <li>
                            <a href="icons-ionicons.html" data-i18n="nav.icons.icons_ionicons" class="menu-item">Ionicons</a>
                        </li>
                        <li>
                            <a href="icons-fps-line.html" data-i18n="nav.icons.icons_fps_line" class="menu-item">FPS Line Icons</a>
                        </li>
                        <li>
                            <a href="icons-ico-moon.html" data-i18n="nav.icons.icons_ico_moon" class="menu-item">Ico Moon</a>
                        </li>
                        <li>
                            <a href="icons-font-awesome.html" data-i18n="nav.icons.icons_font_awesome" class="menu-item">Font Awesome</a>
                        </li>
                        <li>
                            <a href="icons-meteocons.html" data-i18n="nav.icons.icons_meteocons" class="menu-item">Meteocons</a>
                        </li>
                        <li>
                            <a href="icons-evil.html" data-i18n="nav.icons.icons_evil" class="menu-item">Evil Icons</a>
                        </li>
                        <li>
                            <a href="icons-linecons.html" data-i18n="nav.icons.icons_linecons" class="menu-item">Linecons</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="form-layout-basic.html"><i class="icon-paper"></i><span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Basic Forms</span></a>
                </li>
                <li class=" nav-item">
                    <a href="table-basic.html"><i class="icon-table2"></i><span data-i18n="nav.bootstrap_tables.table_basic" class="menu-title">Basic Tables</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-bar-graph-2"></i><span data-i18n="nav.google_charts.main" class="menu-title">google Charts</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="google-bar-charts.html" data-i18n="nav.google_charts.google_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="google-line-charts.html" data-i18n="nav.google_charts.google_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="google-pie-charts.html" data-i18n="nav.google_charts.google_pie_charts" class="menu-item">Pie charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-stats-dots"></i><span data-i18n="nav.chartjs.main" class="menu-title">Chartjs</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="chartjs-line-charts.html" data-i18n="nav.chartjs.chartjs_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="chartjs-bar-charts.html" data-i18n="nav.chartjs.chartjs_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="chartjs-pie-doughnut-charts.html" data-i18n="nav.chartjs.chartjs_pie_doughnut_charts" class="menu-item">Pie &amp; Doughnut charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-pie-graph2"></i><span data-i18n="nav.flot_charts.main" class="menu-title">Flot Charts</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="flot-line-charts.html" data-i18n="nav.flot_charts.flot_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="flot-bar-charts.html" data-i18n="nav.flot_charts.flot_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="flot-pie-charts.html" data-i18n="nav.flot_charts.flot_pie_charts" class="menu-item">Pie charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-map22"></i><span data-i18n="nav.maps.main" class="menu-title">Maps</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="gmaps-basic-maps.html" data-i18n="nav.maps.google_maps.gmaps_basic_maps" class="menu-item">Maps</a>
                        </li>
                        <li>
                            <a href="vector-maps-jvq.html" data-i18n="nav.maps.vector_maps.vector_maps_jvq" class="menu-item">Vector Maps</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-paint-format"></i><span data-i18n="nav.color_palette.main" class="menu-title">Color Palette</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="color-palette-primary.html" data-i18n="nav.color_palette.color_palette_primary" class="menu-item">Primary palette</a>
                        </li>
                        <li>
                            <a href="color-palette-danger.html" data-i18n="nav.color_palette.color_palette_danger" class="menu-item">Danger palette</a>
                        </li>
                        <li>
                            <a href="color-palette-success.html" data-i18n="nav.color_palette.color_palette_success" class="menu-item">Success palette</a>
                        </li>
                        <li>
                            <a href="color-palette-warning.html" data-i18n="nav.color_palette.color_palette_warning" class="menu-item">Warning palette</a>
                        </li>
                        <li>
                            <a href="color-palette-info.html" data-i18n="nav.color_palette.color_palette_info" class="menu-item">Info palette</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a href="color-palette-red.html" data-i18n="nav.color_palette.color_palette_red" class="menu-item">Red palette</a>
                        </li>
                        <li>
                            <a href="color-palette-pink.html" data-i18n="nav.color_palette.color_palette_pink" class="menu-item">Pink palette</a>
                        </li>
                        <li>
                            <a href="color-palette-purple.html" data-i18n="nav.color_palette.color_palette_purple" class="menu-item">Purple palette</a>
                        </li>
                        <li>
                            <a href="color-palette-deep-purple.html" data-i18n="nav.color_palette.color_palette_deep_purple" class="menu-item">Deep Purple palette</a>
                        </li>
                        <li>
                            <a href="color-palette-indigo.html" data-i18n="nav.color_palette.color_palette_indigo" class="menu-item">Indigo palette</a>
                        </li>
                        <li>
                            <a href="color-palette-blue.html" data-i18n="nav.color_palette.color_palette_blue" class="menu-item">Blue palette</a>
                        </li>
                        <li>
                            <a href="color-palette-light-blue.html" data-i18n="nav.color_palette.color_palette_light_blue" class="menu-item">Light Blue palette</a>
                        </li>
                        <li>
                            <a href="color-palette-cyan.html" data-i18n="nav.color_palette.color_palette_cyan" class="menu-item">Cyan palette</a>
                        </li>
                        <li>
                            <a href="color-palette-teal.html" data-i18n="nav.color_palette.color_palette_teal" class="menu-item">Teal palette</a>
                        </li>
                        <li>
                            <a href="color-palette-green.html" data-i18n="nav.color_palette.color_palette_green" class="menu-item">Green palette</a>
                        </li>
                        <li>
                            <a href="color-palette-light-green.html" data-i18n="nav.color_palette.color_palette_light_green" class="menu-item">Light Green palette</a>
                        </li>
                        <li>
                            <a href="color-palette-lime.html" data-i18n="nav.color_palette.color_palette_lime" class="menu-item">Lime palette</a>
                        </li>
                        <li>
                            <a href="color-palette-yellow.html" data-i18n="nav.color_palette.color_palette_yellow" class="menu-item">Yellow palette</a>
                        </li>
                        <li>
                            <a href="color-palette-amber.html" data-i18n="nav.color_palette.color_palette_amber" class="menu-item">Amber palette</a>
                        </li>
                        <li>
                            <a href="color-palette-orange.html" data-i18n="nav.color_palette.color_palette_orange" class="menu-item">Orange palette</a>
                        </li>
                        <li>
                            <a href="color-palette-deep-orange.html" data-i18n="nav.color_palette.color_palette_deep_orange" class="menu-item">Deep Orange palette</a>
                        </li>
                        <li>
                            <a href="color-palette-brown.html" data-i18n="nav.color_palette.color_palette_brown" class="menu-item">Brown palette</a>
                        </li>
                        <li>
                            <a href="color-palette-blue-grey.html" data-i18n="nav.color_palette.color_palette_blue_grey" class="menu-item">Blue Grey palette</a>
                        </li>
                        <li>
                            <a href="color-palette-grey.html" data-i18n="nav.color_palette.color_palette_grey" class="menu-item">Grey palette</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="changelog.html"><i class="icon-copy"></i><span data-i18n="nav.changelog.main" class="menu-title">Changelog</span><span class="tag tag tag-pill tag-danger float-xs-right">1.0</span></a>
                </li>
                <li class="disabled nav-item">
                    <a href="#"><i class="icon-eye-disabled"></i><span data-i18n="nav.disabled_menu.main" class="menu-title">Disabled Menu</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-android-funnel"></i><span data-i18n="nav.menu_levels.main" class="menu-title">Menu levels</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="#" data-i18n="nav.menu_levels.second_level" class="menu-item">Second level</a>
                        </li>
                        <li>
                            <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item">Second level child</a>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level" class="menu-item">Third level</a>
                                </li>
                                <li>
                                    <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.main" class="menu-item">Third level child</a>
                                    <ul class="menu-content">
                                        <li>
                                            <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level1" class="menu-item">Fourth level</a>
                                        </li>
                                        <li>
                                            <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level2" class="menu-item">Fourth level</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=" navigation-header">
                    <span data-i18n="nav.category.support">Support</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
                </li>

                <li class=" nav-item">
                    <input type="submit" onclick="preview()" value="Create" class="btn btn-default" />

                    <a href="https://github.com/pixinvent/robust-free-bootstrap-admin-template/issues"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main" class="menu-title">Raise Support</span></a>
                </li>
                <li class=" nav-item">
                </li>
                
            </ul>
            
        </div>
        
        <!-- /main menu content-->
        <!-- main menu footer-->
        <!-- include includes/menu-footer-->
        <!-- main menu footer-->
        </div>

        <!-- / main menu-->
        }
        @RenderBody()

    </body>
        <!-- BEGIN VENDOR JS-->
        
</html>
<script src="@Url.Content("~/Content/dashboard/")app-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/extensions/pace.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="@Url.Content("~/Content/dashboard/")app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN ROBUST JS-->
<script src="@Url.Content("~/Content/dashboard/")app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/dashboard/")app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END ROBUST JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="@Url.Content("~/Content/dashboard/")app-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->



@* sd *@
<script src="@Url.Content("~/Content/eshopper/")js/jquery.js"></script>
<script src="@Url.Content("~/Content/eshopper/")js/bootstrap.min.js"></script>
<script src="@Url.Content("~/Content/eshopper/")js/jquery.scrollUp.min.js"></script>
<script src="@Url.Content("~/Content/eshopper/")js/price-range.js"></script>
<script src="@Url.Content("~/Content/eshopper/")js/jquery.prettyPhoto.js"></script>
<script src="@Url.Content("~/Content/eshopper/")js/main.js"></script>

<script tyoe="text/javascript" src="~/scripts/MyCustomize.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button-popup").click(function () {
            $(".window-popup").show();
        });
        $("#button-popup-close").click(function () {
            $(".window-popup").hide();
        });
        $("#button-popup-close1").click(function () {
            $(".window-popup").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup1").click(function () {
            $(".window-popup1").show();
        });
        $("#button-popup-close2").click(function () {
            $(".window-popup1").hide();
        });
        $("#button-popup-close3").click(function () {
            $(".window-popup1").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup2").click(function () {
            $(".window-popup2").show();
        });
        $("#button-popup-close4").click(function () {
            $(".window-popup2").hide();
        });
        $("#button-popup-close5").click(function () {
            $(".window-popup2").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup3").click(function () {
            $(".window-popup3").show();
        });
        $("#button-popup-close6").click(function () {
            $(".window-popup3").hide();
        });
        $("#button-popup-close7").click(function () {
            $(".window-popup3").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup4").click(function () {
            $(".window-popup4").show();
        });
        $("#button-popup-close8").click(function () {
            $(".window-popup4").hide();
        });
        $("#button-popup-close9").click(function () {
            $(".window-popup4").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup5").click(function () {
            $(".window-popup5").show();
        });
        $("#button-popup-close10").click(function () {
            $(".window-popup5").hide();
        });
        $("#button-popup-close11").click(function () {
            $(".window-popup5").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup6").click(function () {
            $(".window-popup6").show();
        });
        $("#button-popup-close12").click(function () {
            $(".window-popup6").hide();
        });
        $("#button-popup-close13").click(function () {
            $(".window-popup6").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup7").click(function () {
            $(".window-popup7").show();
        });
        $("#button-popup-close14").click(function () {
            $(".window-popup7").hide();
        });
        $("#button-popup-close15").click(function () {
            $(".window-popup7").hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#button-popup8").click(function () {
            $(".window-popup8").show();
        });
        $("#button-popup-close16").click(function () {
            $(".window-popup8").hide();
        });
        $("#button-popup-close17").click(function () {
            $(".window-popup8").hide();
        });
    });
</script>
<script src="~/scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
<script src="~/scripts/farbtastic.js" type="text/javascript"></script>
<script type="text/javascript">

		$(document).ready(function(){

			var colorPicker = $.farbtastic("#colorpicker");

			colorPicker.linkTo(pickerUpdate);

			$("#red,#green,#blue").slider({

				orientation:"horizontal",

				range:"min",

				max:255,

				slide:sliderUpdate

			});

			function sliderUpdate() {

				var red=$("#red").slider("value");

				var green=$("#green").slider("value");

				var blue=$("#blue").slider("value");

				var hex=hexFromRGB(red,green,blue);

				colorPicker.setColor("#"+hex);

			}

			function hexFromRGB(r,g,b){

				var hex = [r.toString(16),g.toString(16),b.toString(16)];

				$.each(hex,function(nr,val){

					if(val.length===1){

						hex[nr]="0"+val;

					}

				});

				return hex.join("").toUpperCase();

			}

			function pickerUpdate(color){

				$("#swatch").css("background-color", color);


				if (colorPicker.hsl[2] > 0.5) {

					$("#innerswatch").css("color","#000000");

				}

				else {


					$("#innerswatch").css("color","#ffffff");

				}
				$('#Code').attr('value', color.toUpperCase())

				$("#innerswatch").html(color.toUpperCase())


				//var red = parseint(color.substring(1,3),16);

				//var green = parseint(color.substring(3,5),16);

				//var blue = parseint(color.substring(5,7),16);

				$("#red").slider("value",red);

				$("#green").slider("value",green);

				$("#blue").slider("value",blue);

			}

		});

</script>